@charset "UTF-8";
/* CSS Document */

body {
	margin: 0;
	padding: 0;
	background-color: #E6E4D6;
}
img {
	display: block;
}
header {
	background-color: #FFF;
}
header .headerwrpr {
	width: 970px;
	margin: 0 auto;
}
nav {
	background-color: #363394;
}
nav .navwrpr {
	width: 970px;
	margin: 0 auto;
}
#wrapper {
	width: 970px;
	margin: 0 auto;
}
#container {
	background-color: #FFF;
}
.ghdr-bnr {
	margin: 0 0 20px 10px;
}
aside {
	float: left;
}
#right-content {
	margin: 5px 25px 0 0;
	float: right;
}
.breadcrumb {
	margin-bottom: 10px;
}
.pagination {
	margin-top: 70px;
	border: none;
	border-radius: 0;
	padding: 0;
}
#product-lst {
	margin: 10px 0;
}
footer {
	clear: both;
	margin-bottom: 50px;
}
